<div gsedit="post_block" align="left">
	<div gsblock="html" gsedit="post_item">
		<table style="position: relative;" class="frame" border="0" width="100%" cellspacing="0" cellpadding="0">
			<tr>
				<td>
					<img border="0" src="images/wrapper.png" width="2" height="2"></td>
				</tr>
			<tr>
				<td bgcolor="#FFFFFF" style="padding: 0px; font-size: 14px; line-height: 16px; font-family: Helvetica, sans-serif; color: #555555">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td style="padding: 0px 0 0 0px !important; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px; line-height: 20px; font-weight: bold; margin-left:0; margin-right:0; margin-top:4px; margin-bottom:8px" align="left">
		                        <a href="[newsman post='permalink']" title="[newsman post='post_title']" style="color: #333333; text-decoration: none;">
								"[newsman post='post_title']"</a><br>
								<!-- [newsman_has_thumbnail] -->
								<table align="right" border="0" cellspacing="0" cellpadding="0" class="down">
									<tr>
										<td class="hide" width="10"></td>
										<td class="story-image-wrapper" align="center" style="padding-top:12px; padding-right:12px; padding-bottom:10px">
										<a href="[newsman post='permalink']" title="[newsman post='post_title']" style="decoration: none;">
										<img class="phone" src="[newsman post='thumbnail' placeholder='images/200.png']" width="150" alt="[newsman post='post_title']" border="0"></a>
										</td>
									</tr>
								</table>
								<!-- [/newsman_has_thumbnail] -->
								
								<div class="story-snippet">
									<p style="color: #555555; font-size: 14px; font-weight: normal">[newsman post='fancy_excerpt' words='50']</p>
									
									<a href="[newsman post='permalink']" title="[newsman post='post_title']" style="color: #333333; text-decoration: none; font-size: 14px; font-weight: normal;">
									Read more >></a>
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</div>
<div gsedit="post_divider">
	<hr class="story-separator" color="#CCCCCC" size="2" width="100%"></div>